<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">고양이 공금 기록</title>

<!-- date picker -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
	integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
	integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"
	integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<div class="container mt-3" id="maindiv">

	<h2>결제 내역 조회하기</h2>
	<p>고앵이 루밍 유자 룽지 지미(?)</p>
	<div class="row">
		<div class="col-xl-8">
			<button type="button" class="btn btn-info mb-2"
				data-bs-toggle="modal" data-bs-target="#addmodal">
				<i class='fas fa-plus'></i> 추가
			</button>
		</div>

		<div class="col-xl-1">
			<select class="form-select mb-2" id="ipp" name="itemsperpage">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
		<div class="col-xl-3">

			<div class="input-daterange input-group mb-2" id="datepicker">
				<input type="text" class="input-sm form-control" id="startdate"
					name="start" readonly /> <a style='font-size: 24px; color: green;'
					class='far mt-2 m-1' id="datesrchbtn" href="#">&#xf272;</a> <input
					type="text" class="input-sm form-control" id="enddate" name="end"
					readonly />
			</div>
		</div>
	</div>

	<table class="table table-hover table-bordered table-striped">
		<thead class="table-success">
			<tr>
				<th class="text-center col-1"><button type="button"
						class="btn btn-link" disabled>번호</button></th>
				<th class="text-center"><button type="button"
						class="btn btn-link">
						날짜 <i class='fas fa-caret-down'></i>
					</button></th>
				<th class="text-center"><button type="button"
						class="btn btn-link" disabled>내역</button></th>
				<th class="text-center"><button type="button"
						class="btn btn-link">
						금액 <i class='fas fa-caret-down'></i>
					</button></th>
				<th class="text-center"><button type="button"
						class="btn btn-link" disabled>영수증</button></th>
			</tr>
		</thead>
		<tbody id="paymentinfo">
			<tr class="listinfo">
				<td>2024.05.10</td>
				<td>
					<button type="button" class="btn btn-link" data-bs-toggle="modal"
						data-bs-target="#readonly">활성탄</button>
				</td>
				<td>38,400</td>
				<td>
					<button type="button" class="btn btn-info" data-bs-toggle="modal"
						data-bs-target="#openimg">보기</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="float-sm-end">
		<button type="button" class="btn btn-info" data-bs-toggle="modal"
			data-bs-target="#addmodal">
			<i class='fas fa-plus'></i> 추가
		</button>
	</div>

	<ul class="pagination justify-content-center">
		<li class="page-item" id="prevpage"><a class="page-link" href="#">이전</a></li>
		<!-- <li class="page-num active"><a class="page-link" href="#">1</a></li> -->
		<li class="page-item" id="nextpage"><a class="page-link" href="#">다음</a></li>
	</ul>


</div>


<!-- read only modal -->
<div class="modal fade" id="readonly">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">상세 보기</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="container mt-3">
				<form action="/action_page.php">
					<div class="mb-3 mt-3">
						<label for="date">날짜:</label> <input type="date"
							class="form-control" id="date" placeholder="날짜" name="date"
							value="2024-05-10" readonly>
					</div>
					<div class="mb-3">
						<label for="detail">내역:</label> <input type="text"
							class="form-control" id="detail" placeholder="결제 내역"
							name="detail" value="활성탄" readonly>
					</div>
					<div class="mb-3">
						<label for="price">금액:</label> <input type="number"
							class="form-control" id="price" placeholder="금액" name="price"
							value="38400" readonly>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="bill">영수증:</label>
								<p></p>
								<img
									src="https://previews.123rf.com/images/yupiramos/yupiramos1703/yupiramos170312447/74389048-%EA%B7%80%EC%97%AC%EC%9A%B4-%EC%9E%91%EC%9D%80-%EC%83%88-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98-%EB%94%94%EC%9E%90%EC%9D%B8.jpg"
									class="mx-auto d-block img-thumbnail" alt="Cinque Terre"
									width="304" height="304">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="memo">메모:</label>
								<textarea class="mx-auto d-block form-control mt-3 w-75"
									rows="12" id="comment" name="text" readonly></textarea>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary mb-2">수정하기</button>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-success">확인</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
			</div>

		</div>
	</div>
</div>

<!-- modify modal -->
<div class="modal fade" id="modify">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">상세 보기</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="container mt-3">
				<form action="/action_page.php">
					<div class="mb-3 mt-3">
						<label for="date">날짜:</label> <input type="date"
							class="form-control" id="date" placeholder="날짜" name="date"
							value="2024-04-30">
					</div>
					<div class="mb-3">
						<label for="detail">내역:</label> <input type="text"
							class="form-control" id="detail" placeholder="결제 내역"
							name="detail" value="활성탄">
					</div>
					<div class="mb-3">
						<label for="price">금액:</label> <input type="number"
							class="form-control" id="price" placeholder="금액" name="price"
							value="38400">
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="bill">영수증:</label>
								<p></p>
								<img
									src="https://previews.123rf.com/images/yupiramos/yupiramos1703/yupiramos170312447/74389048-%EA%B7%80%EC%97%AC%EC%9A%B4-%EC%9E%91%EC%9D%80-%EC%83%88-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98-%EB%94%94%EC%9E%90%EC%9D%B8.jpg"
									class="mx-auto d-block img-thumbnail" alt="Cinque Terre"
									width="304" height="304">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="memo">메모:</label>
								<textarea class="mx-auto d-block form-control mt-3 w-75"
									rows="12" id="comment" name="text"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary mb-2">저장하기</button>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-success">확인</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
			</div>

		</div>
	</div>
</div>

<!-- open image modal -->
<div class="modal fade" id="openimg">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">상세 보기</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="container mt-3">
				<div class="mb-3">
					<img
						src="https://previews.123rf.com/images/yupiramos/yupiramos1703/yupiramos170312447/74389048-%EA%B7%80%EC%97%AC%EC%9A%B4-%EC%9E%91%EC%9D%80-%EC%83%88-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98-%EB%94%94%EC%9E%90%EC%9D%B8.jpg"
						class="mx-auto d-block img-thumbnail" alt="Cinque Terre"
						width="912" height="912">
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
			</div>

		</div>
	</div>
</div>

<!-- add modal -->
<div class="modal fade" id="addmodal">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">내역 추가</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="container mt-3">
				<form action="/action_page.php">
					<div class="mb-3 mt-3">
						<label for="date">날짜:</label> <input type="date"
							class="form-control" id="date" placeholder="날짜" name="date">
					</div>
					<div class="mb-3">
						<label for="detail">내역:</label> <input type="text"
							class="form-control" id="detail" placeholder="결제 내역"
							name="detail">
					</div>
					<div class="mb-3">
						<label for="price">금액:</label> <input type="number"
							class="form-control" id="price" placeholder="금액" name="price">
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="bill">영수증:</label>
								<p></p>
								<img
									src="https://previews.123rf.com/images/yupiramos/yupiramos1703/yupiramos170312447/74389048-%EA%B7%80%EC%97%AC%EC%9A%B4-%EC%9E%91%EC%9D%80-%EC%83%88-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98-%EB%94%94%EC%9E%90%EC%9D%B8.jpg"
									class="mx-auto d-block img-thumbnail" alt="Cinque Terre"
									width="304" height="304">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="mb-3">
								<label for="memo">메모:</label>
								<textarea class="mx-auto d-block form-control mt-3 w-75"
									rows="12" id="comment" name="text"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-success">저장</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
			</div>

		</div>
	</div>
</div>


<script th:inline="javascript">
	/*<![CDATA[*/
	var uid = /*[[${session.uid}]]*/'';
	var listsize = /*[[${listsize}]]*/'';
	/*]]>*/
</script>

<script th:inline="javascript" th:src="@{assets/js/main.js}"></script>
</html>